extends layout

block css
  link(rel='stylesheet', href='/stylesheets/index.css')
block content
  //- 首页
  div.container
    div.main
      //- h1 博客首页
      //- div.nav
      ul.nav
        li.nav-item.active 
          a 博客
        li.nav-item 
          a 资源
        li.nav-item 
          a(href='/admin') 管理
      div.blogList.box-shadow
        each blog in blogList
          div.blogItem.div-item
            a(href='/blog/detail/'+blog.id target="_blank") #{blog.title}
            div.blogItem-info
              a.author(href='/user/'+blog.author target="_blank") #{blog.author}&nbsp;
              span.summary #{blog.createtime}
      div.footer
        div.copyright-box.div-box
          p ©2020-2021 xxxx
    div.aside
      include ./tagList.pug

