doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
  body
    block content
    script(src="/javascripts/jquery.js")
    script(src='/javascripts/index.js')
    block script
