extends layout

block css
//-   link(rel='stylesheet', href='/stylesheets/admin.css')
block content
  //- 登录
  div.main
    div
        span 用户名
        input.username
    div
        span 密码
        input.password