extends layout

block css
  -if(isMobileOrPC=='Mobile')
    link(rel='stylesheet', href='/stylesheets/mobile/index.css')
  -else
    link(rel='stylesheet', href='/stylesheets/index.css')
block content
  //- 首页
  div.container
    div.main
      each urlclassList in selectUrlclassList  
        div.list.div-box
          p.title #{urlclassList.name}
          each url in urlclassList.urlList[0]
            a.div-item(href=url.url target="_blank") #{url.name}
              //- p #{url.content}