//- link(rel='stylesheet', href='/css/style.css')
div(class='no-list circle-no-list')
    img(class='no-list-img' src='/images/null_data.png')
    //- span(class='no-list-text')  #{listName}
    span(class='no-list-text')  暂无内容