投票模板样式
.vote-content{
    text-align: left;
    width: 500px;
    margin: 0 auto;
}

.vote-content input{
    border: none;
    padding: 5px;
    margin-right: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.vote-content select{
    border: 1px solid #ccc;
}
.vote-content .vote-time{
    margin: 10px 0 20px;
}
.vote-content .vote-right{
    display: inline-block;
    width: calc(100% - 100px);
    vertical-align:top;
}
.vote-content .vote-content-title textarea{
    width: 100%;
    height: 80px;
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.vote-content  .vote-type {
    margin-bottom:10px;
    
}
.vote-content  .vote-type select{
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    
}
.vote-content  .vote-type select[name='vote-type-minnum'],.vote-content  .vote-type select[name='vote-type-maxnum'] {
    display:none;
}
.vote-content .vote-content-options {
    max-height: 152px;
    overflow: auto;
   
}
.vote-content .vote-content-options li {
    margin-bottom: 10px;
}
.vote-content .vote-content-options .chice-add,.chice-minus {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
    
}
.chice-minus:hover{
    color: #417dc9;
    border-color: #417dc9;
}
.vote-content .vote-num-tip{
    background: #f04810;
    color: white;
    text-align: center;
    line-height: 30px;
    height:30px;
    display: none;
}