/* 通用 */
*{
  margin: 0;padding: 0;
  transition: all 0.2s;
}
ul,li{
  list-style: none;
}
textarea,button {
  resize: none;
  outline: none;
}
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
textarea {
margin: 0;
padding: 0;
border: 0;
}
a{
  text-decoration:none;
  -webkit-tap-highlight-color: #666;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
a:visited {color:#333;}  
a:link {color:#333;} 
a:hover{
  color: #0084ff;
  cursor: pointer;
}
input{
  /* border: 0; */
  outline: none; 
  /* background-color: rgba(0, 0, 0, 0); */
}
.box-shadow{
  -webkit-box-shadow: 0 1px 3px rgba(18,18,18,.1);
  box-shadow: 0 1px 3px rgba(18,18,18,.1);
}
.div-box{
  margin-bottom:10px ;
  -webkit-box-shadow: 0 1px 3px rgba(18,18,18,.1);
  box-shadow: 0 1px 3px rgba(18,18,18,.1);
  background-color: #fff;
  padding:20px 10px;
  border-radius: 2px;
}
.div-item{
  margin-bottom:2px;
  background-color: #fff;
  padding:10px 20px;
}
body{
  color: #333;
  font-size: 14px;
  line-height: 1.57142857;
}
.nav{
  margin-bottom:2px;
  background-color: #fff;
  height: 50px;
  /* vertical-align: middle; */
}
.active{
  color: #0084ff;
  border-color: #0084ff;
  border-bottom: 1px #0084ff solid;
}
.nav-item{
  margin: 0 26px;
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  /* vertical-align: middle; */
}
.blogTagItem{
  display: inline-block;
  width: 34px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  color: #0084ff;
  background-color: rgba(0,132,255,0.1);
  margin-left: 8px;
}
.ghostButton{
  padding: 2px 8px;
  border: 1px #0084ff solid;
  border-radius: 2px;
  color:  #0084ff !important;
}
/* 字体 */
.title-article{
  font-size: 28px;
  word-wrap: break-word;
  color: #222226;
  font-weight: 600;
  margin: 0;
  word-break: break-all;
}
.title{
  font-size: 16px;
  color: #333;
  line-height: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text{
  font-size: 14px;
  color: #333;
  line-height: 18px;
  margin: 4px auto;
}
.textInfo{
  font-size: 12px;
  color: #333;
  line-height: 18px;
}
.summary{
  font-size: 12px;
  color: #999;
  line-height: 18px;
}
.hiddenFor2line{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.min-height{
  min-height:80vh;
}
.input{
  line-height: 100%;
  background-color: #fff!important;
  content: "'fill'";
  display: block;
  width: 95%;
  height: 20px;
  border-radius: 4px 4px;
  line-height: 32px;
  font-size: 14px;
  color: #4d4d4d;
  border: 1px solid #ccc;
  margin-bottom:10px;
  padding: 8px 0px 8px 12px;
}
.textarea{
  line-height: 100%;
  background-color: #fff!important;
  content: "'fill'";
  display: block;
  width: 95%;
  border-radius: 4px 4px;
  line-height: 32px;
  font-size: 14px;
  color: #4d4d4d;
  border: 1px solid #ccc;
  margin-bottom:10px;
  padding: 8px 0px 8px 12px;
}
.btn{
  line-height: 100%;
  background-color: #0084ff!important;
  content: "'fill'";
  display: block;
  height: 38px;
  border-radius: 4px 4px;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  margin-bottom:10px;
  margin-top:40px;
  border:none;
  padding: 0px 20px;
}
/* 布局 */
html{
  height: 100%;
  background-color: rgba(245,246,247,1);
}
body{
  height: 100%;
  /* min-height: 100vh; */
}
.container{
  display: flex;
  width: 1366px;
  padding: 54px 24px 0px;
  margin: 0px auto 0px;
  /* min-width: 1000px; */
  /* height: 100%; */
}
.main{
  margin: auto auto;
  /* width: 1346px; */
  flex: 1;
  /* padding: 28px 24px; */
  /* padding: 34px auto; */
  /* width: 1346px; */
  height: 100%;
}
.aside{
  /* background-color: #fff; */
  width: 300px;
  margin-right:10px ;
  order: -1;
}



/* no-list */
.no-list{
  background-color: #fff;
  width: 400px;
  box-sizing: border-box;
  height: 462px;
  text-align: center;
  margin: auto;
  padding: 0px 0px 600px 0px;
}
.no-list .no-list-img{
  margin: 0 auto;
  margin-top: 250px;
  margin-bottom: 40px;
}
.no-list .no-list-text{
  font-size: 24px;
  display: block;
}
.no_resources{
  background-color: #fff;
  width: 900px;
  box-sizing: border-box;
  height: 462px;
  text-align: center;
  margin: auto;
}
.no_resources p{
  font-size: 24px;
  display: block;
  margin-top: 250px;
}
.no_resources a{
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  padding: 0px 10px;
  border: 1px #f7941e solid;
  font-size: 14px;
  color: #f7941e;
  line-height: 34px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px 3px 3px 3px;
}
.no_resources a:hover {
  border: 1px #f7941e solid;
  background-color: #f7941e;
  color: #FFF;
}
